public/all/
config/
.env
storage/
public/data/publicPath.txt
vendor/
public/*.Rout
public/Kegg/
public/kList/
public/genesets/
public/mmap/
public/logs/
public/scripts/biocGageStatsimport.sh
public/scripts/biocStatsimport.sh
.idea/
