#error-message {

    padding: 5px;
    color: #a94442;
    display: none;
    margin-bottom: 10px;
}

.expandable {
display: none;
}
.side-expand {
    display: none;
}

#normalizedData-div{

    width: 700px;
    padding-left: 0px;
    margin-left: 30px;
    border-left-width: 1px;
    border-right-width: 1px;
    padding-right: 0px;
    margin-right: 30px;

}
.multiple-columns-stepsDiv {
    width:30%
    margin: 5px 0px 5px 32px;
    background-color: #F4F4F4;
    border: 1px solid #FFF;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #AAA;

}

select[multiple].geneSet {
  width: 100%;
  border-radius: 10px;
  font-family:monospace;
 padding: 10px;
}

.useFold .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-off{
    font-size: 9px;
}

.useFold .bootstrap-switch .bootstrap-switch-container .bootstrap-switch-handle-on{
    font-size: 11px;
}

select[multiple] {
font-family:monospace;
padding:10px;
}
optgroup[label="KEGG"]
{
border:2px;
border-color:black;
background-color: whitesmoke;
color: brown;
}

optgroup[label="SMPDB"] {
    border: 2px;
    background-color: whitesmoke;
    color: blue;
}

img.gageExampleImg {
    border-style: solid;
    border-color: black;
    width: 90%;
    margin: 10px;
    padding:10px;

}
optgroup[label="GO"]
{
background-color: whitesmoke;
color: blue;
}

select[multiple].geneSet option {
    margin:10px;
    text-shadow:0 1px 0 rgba(0,0,0,0.4);
}
select optgroup>label {
background-color:blue;
}
 
.error
 {
     color: #a94442;
     background-color: #f2dede;
     border-color: #ebccd1;
     font-size: 15px;
 }
 .pdf
 {
     margin-bottom: 30px;

 }
.pdf-info
{
    text-align: left;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

 .noteHint
 {
     font-family: Verdana;
     font-size: 13px;
     display: inline;
 }

.section-header
{
    text-align: left;
    font-weight: bold;
    color: #31708F;
}


.styled-select {
    width: 65%;
    height: 35px;
    overflow: hidden;
    background:  no-repeat right #fff;
    border: 1px solid #ccc;
}
.styled-multiple-select {
    width: 100%;
    border: 1px solid #ccc;
}
embed {
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
}

img.pdf-info{
    border-style: solid;
    border-width: 5px;

}

.section{

}
.argumentVar{
    width:30%;  display: inline-block;text-align: right;
}
.argumentColon{
    width:5%;  display: inline-block;text-align: left;margin-left:10px;margin-right:10px;
}

.argumentVal{
    width:30%;  display: inline-block;text-align: left;
}
