#error-message {

    padding: 5px;
    color: #a94442;
    display: none;
    margin-bottom: 10px;
}

 .error
 {
     color: #a94442;
     background-color: #f2dede;
     border-color: #ebccd1;
     font-size: 15px;
 }
 .pdf
 {
     margin-bottom: 30px;

 }
.pdf-info
{
    text-align: left;
    font-size: 18px;
    text-decoration: underline;
    font-weight: bold;
}

 .noteHint
 {
     font-family: Verdana;

     font-size: 13px;
     display: inline;
 }

.section-header
{
    text-align: left;
    font-weight: bold;
    color: #31708F;
}


.styled-select {
    width: 100%;
    height: 35px;
    overflow: hidden;
    background:  no-repeat right #fff;
    border: 1px solid #ccc;
}
.styled-multiple-select {
    width: 100%;
    border: 1px solid #ccc;
}
embed {
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
}

img.pdf-info{
    border-style: solid;
    border-width: 5px;

}

.section{

}
