* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 18px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.topbar {

    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    bottom: 0px;
    background-color: rgba(32, 80, 129, 0.8);;
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    z-index: 1000;
    margin-top: -20px;
}

._header > a:hover {
    color: #000;
    text-decoration: none;
}

._header > a {
    color: #fff;

}

.content1 {
    text-align: justify;
}

.tut-content {
    text-align: justify;
    color: #000;
}

.argument {
    padding: 5px;
    text-align: left;
}

.rows {
    margin-left: 15px;
    margin-right: 9px;
}

.help {
    margin-right: -80px;
}

.arg_content {
    background-color: #CBCBCB;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 28px;
}

.topbar ._header {
    height: 100%;
    margin: 0px;
    padding-top: 22px;
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    color: #333;
    font-size: 40px;
    letter-spacing: -2px;
    text-align: center;
    text-transform: capitalize;
}

a {
    box-sizing: border-box;

    background: none repeat scroll 0% 0% transparent;
}

#content {
    margin: 15px auto;
    text-align: center;
    width: 600px;
    position: relative;
    height: 100%;
}

#wrapper {
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
    width: 800px;
    overflow: hidden;
    border-color: steelblue;
    text-align: left;
}

#steps {
    width: 800px;
    /*height:320px;*/
    overflow: hidden;
}

.step {
    float: left;
    width: 800px;
    /*height:320px;*/
}

.success {

    column-rule: #009933;;
}

#navigation {
    height: 45px;
    background-color: #E6F7FF;
    border-top: 1px solid #fff;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    /* border-bottom-left-radius:10px;
     border-bottom-right-radius:10px;*/
}

#navigation ul {
    list-style: none;
    float: left;
    margin-left: 130px;
}

#scroll a {
    margin-left: 511px;
}

#navigation ul li {
    float: left;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    position: relative;
    margin: 0px 7px;
}

#navigation ul li a {
    display: block;
    height: 45px;
    background-color: #444;
    color: #777;
    outline: none;
    font-weight: bold;
    text-decoration: none;
    line-height: 45px;
    padding: 0px 20px;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    background: #f0f0f0;

    background: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.09, rgb(240, 240, 240)),
            color-stop(0.55, rgb(227, 227, 227)),
            color-stop(0.78, rgb(240, 240, 240))
    );
}

.steps {
    border-radius: 10px;
    width: 800px;
    overflow: hidden;
    padding: 20px;
    background-color: #E6F7FF;
    border-top: 2px solid #4682B4;
}

.register {
    width: 100%;
    background-color: #f5f5f5;
    color: #000;
    border-color: #204d74;
}

.GetStarted {
    width: 100%;
    background-color: #49AB58;
    color: #fff;
    border-color: #204D74;
    margin-bottom: -10px;
    bottom: 0;
}

.marketing-hero-heading {
    color: rgb(45, 45, 45);
    font-family: LLCircularWeb-Bold, sans-serif;
    font-size: 21px;
    text-shadow: #005580;
    letter-spacing: -1px;
    text-align: left;
}

.marketing {
    text-align: center;
}

.homepage-section {
    background-color: #EBF2F9;
    padding: 40px 0px;
}

.content {
    color: #000;
    /*text-align: center;*/
}

.homepage-heading {
    color: #205081;
    font-family: LLCircularWeb-Bold, sans-serif;
    font-size: 32px;
    line-height: 1.25;
    text-align: left;
    width: 100%;
}

.cta-link {
    display: inline-block;
    background-color: #67AB49;
    border-radius: 5px;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 15px;
    text-decoration: none;
}

.contact {
    text-align: left;
}

.footer {
    background-color: rgba(189, 178, 178, 0.4);
    color: #1E1212;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

#navigation ul li a:hover,
#navigation ul li.selected a {
    background: #FBFBFB;
    color: #666;
    text-shadow: 1px 1px 1px #fff;
}

.avtar {
    max-height: 96px;
    border-radius: 5px;
    margin: 20px 250px auto;
    height: 100%;
    width: 100%;
}

span.checked {
    background: transparent url(../images/checked.png) no-repeat top left;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
}

span.error {
    background: transparent url(../images/error.png) no-repeat top left;
    position: absolute;
    top: 0px;
    left: 1px;
    width: 20px;
    height: 20px;
}

#steps form fieldset {
    border: none;
    padding-bottom: 20px;
}

#steps form legend {
    text-align: left;
    background-color: #f0f0f0;
    color: #666;
    font-size: 24px;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
    float: left;
    width: 590px;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #d9d9d9;
}

#steps form p {
    float: left;
    clear: both;
    margin: 5px 0px;
    background-color: #f4f4f4;
    border: 1px solid #fff;
    width: 600px;
    padding: 10px;
    margin-left: 100px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;

}

.stepsdiv {
    float: left;
    clear: both;
    margin: 5px 0px 5px 70px;
    background-color: #F4F4F4;
    border: 1px solid #FFF;
    width: 660px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px #AAA;
"
}

#steps form p label {
    width: 100px;
    float: left;
    text-align: right;
    margin-right: 15px;
    line-height: 26px;
    color: #000;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}

#steps form input:not([type=radio]),
#steps form textarea,
#steps form select {
    border: 1px solid #F9F1F1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    outline: none;
    padding: 6px;

    margin-left: -10px;

}

#steps form input:focus {
    -moz-box-shadow: 0px 0px 3px #ddd;
    -webkit-box-shadow: 0px 0px 3px #ddd;
    box-shadow: 0px 0px 3px #aaa;
    /*background-color: #FFFEEF;*/
}

#steps form p.submit {
    background: none;
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#steps form button {
    border: none;
    outline: none;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #ffffff;
    display: block;
    cursor: pointer;
    margin: 0px auto;
    clear: both;
    padding: 7px 25px;
    text-shadow: 0 1px 1px #777;
    font-weight: bold;
    font-family: "Century Gothic", Helvetica, sans-serif;
    font-size: 22px;
    -moz-box-shadow: 0px 0px 3px #aaa;
    -webkit-box-shadow: 0px 0px 3px #aaa;
    box-shadow: 0px 0px 3px #aaa;
    background: #4797ED;
}

#steps form button:hover {
    background: #d8d8d8;
    color: #666;
    text-shadow: 1px 1px 1px #fff;

}

.styled-button-2 {
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 0 0;
    color: #FFF;
    background-color: #286090;
    border-color: #204D74;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 20px;
    width: 244px;
    text-shadow: #b2e2f5 0 1px 0;
    padding: 5px;
    margin-left: 100px;
    margin-top: 10px;
}

.ex88 {
    padding: 15px;
    width: 85px;
    font-family: 'Verdana', Arial, sans-serif;
    font-size: 14px;

}

.row1 {
    margin-left: 300px;
}

 .coloration {
     width: 120px;
 }

.ex8 {

}
