

<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div ng-controller="aboutCtrl" class="my-controller">
                <h1>Tasty Paginated Menu</h1>

                <small>this is in "MyController"</small>


                <div class="row">
                    <div class="col-xs-4">
                        <h3>Meals Page: {{ currentPage }}</h3>
                    </div>
                    <div class="col-xs-4">
                        <label for="search">Search:</label>
                        <input ng-model="q" id="search" class="form-control" placeholder="Filter text">
                    </div>
                    <div class="col-xs-4">
                        <label for="search">items per page:</label>
                        <input type="number" min="1" max="100" class="form-control" ng-model="pageSize">
                    </div>
                </div>
                <br>
                <div class="panel panel-default">
                    <div class="panel-body">

                        <ul>
                            <li dir-paginate="meal in meals | filter:q | itemsPerPage: pageSize" current-page="currentPage">{{ meal }}</li>

                        </ul>
                    </div>
                </div>
            </div>

            <div ng-controller="OtherController" class="other-controller">
                <div class="text-center">
                    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="views/dirPagination.tpl.html"></dir-pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

