<!-- PAGE TITLE =============================================== -->
<div ng-if="currentUser">
<div ng-controller="mainController" >
   <div class="page-header">
       <h2>Issues</h2>
       <h4>Submit your issues here. before submitting find all the comments categorised with category</h4>
   </div>

   <!-- NEW COMMENT FORM =============================================== -->
   
   
   <!-- LOADING ICON =============================================== -->
   <!-- show loading icon if the loading variable is set to true -->
   <p class="text-center" ng-show="loading"><span class="fa fa-meh-o fa-5x fa-spin"></span></p>

   <!-- THE COMMENTS =============================================== -->
   <!-- hide these comments if the loading variable is true -->
   <div class="comment" ng-hide="loading" ng-repeat="comment in comments">
     <div class="col-md-12">
	     <h3><small><pre style="white-space:pre-wrap; word-break: keep-all;">{{ comment.author }}: </small>{{ comment.text_string }} <small> by {{ comment.created_at }}</pre></small></h3>
       </p>
       <div ng-controller="replyCtrl">
          <div cstyle="display: inline;">
              <a href="" ng-click="deleteComment(comment.id)" class="text-muted">Delete</a>

             <nav style="alignment: left;display: inline-block;"><a href="" ng-click="showReply(comment.id)" class="text-muted" >AddReply</a></nav>
             <div >
               <div class="comment" ng-hide="loading" ng-repeat="comReply in commentReply" ng-if="comReply.comment_id==comment.id">
                 <h4 style="margin: 25px;"><pre style="white-space:pre-wrap; word-break: keep-all;"><small>Admin: </small> {{ comReply.text_string }} <small> {{ comReply.created_at  }} </small> </pre></h4>
                 <div cstyle="display: inline;"  style="margin: 25px;"><a href="" ng-click="deleteCommentReply(comReply.id)" class="text-muted">Delete</a> </div>
               </div>
             </div>

          </div>
          <div class="col-lg-offset-2 col-md-8 reply" hidden="" id="{{comment.id}}" style="display:inline-block;font-size:small;-ms-box-sizing:content-box;
-moz      -box-sizing:content-box; -web  kit-box-sizing:content-box; box-   sizing:content-box;border:thick;border-color: #105cb6;padding: 10px;" >
              <form ng-submit="submitCommentReply();hideReply(comment.id)" > <!-- ng-submit will disable the default form action  -->
                  <!-- AUTHOR -->
                  <!-- COMMENT TEXT -->
                  <div class="form-group">
              	    <pre style="white-space:pre-wrap; word-break: keep-all;">
              	       <textarea class="form-control" rows=4 name="commentReply" ng-model="commentReplyData.text" placeholder="Comment" required></textarea>
                       </pre>
                  </div>

                  <div class="form-group text-left">
                      <input type="text" class="form-control input-sm" name="name" style="width:20%" ng-model="commentReplyData.name" placeholder="Name" required>
                  </div>
                  <input type="text" name="commentId" ng-model="commentReplyData.commentId"  data-ng-value="commentReplyData.commentId=comment.id" style="display: none;"/>
                  <!-- SUBMIT BUTTON -->
                  <div class="form-group text-left">
                      <button type="submit" class="btn btn-primary btn-sm" >Submit</button>
              	   <a href="" ng-click="hideReply(comment.id)" class="text-muted" style="margin-left:5px;">Cancel</a>
                  </div>
              </form>
          </div>
       </div>
     </div>

   </div>
<hr/>


  <div class="col-md-offset-12" ng-if="!currentUser"> <h1>Not Authorised to application</h1></div>
</div>
</div>
<script>
    $('.reply').hide();
</script>
