<div ng-if="currentUser">
<form ng-controller="UserCreationController" ng-submit="addUser()">
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" name="name" ng-model="name" class="form-control" id="Name" placeholder="Name">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" required="" name="email" ng-model="emailAddress" class="form-control" id="email" placeholder="Email">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Organization</label>
    <input type="text" name="organization" ng-model="organization" class="form-control" id="organization" placeholder="organisation">
  </div>

  <button type="submit"  class="btn btn-default">Submit</button>
</form>
<div class="col-sm-12" style="margin-left:90%;">
  <button class="btn btn-default" style="font-size:20px;">Add Multiple User</button>
</div>
<div id="multipleUserAdd" class="col-sm-12" >
  <div class="form-group">
  <label for="emailList">Input Multiple Emails:</label>
  <textarea rows="4" cols="50" name="usersToAdd" ng-model="emailList" placeholder="email1;email2"></textarea>

    </div>
  <button class="btn btn-default" ng-submit="addMultipleUsers()">Add All</button>
  <br/>
  <br/>
</div></div>
<div class="col-md-offset-12" ng-if="!currentUser"> <h1>Not Authorised to application</h1></div>